/*-- scss:defaults --*/

/*-- scss:rules --*/
#title-slide {
  .desert-title-block::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    filter: blur(15px);
    background: 
      linear-gradient(
        to left, 
        hsla(0, 0%, 100%, 0) 30%, 
        white 75%
      ), 
      linear-gradient(
        to right, 
        hsla(0, 0%, 100%, 0) 70%, 
        white 95%
      ), 
      linear-gradient(
        to top, 
        hsla(0, 0%, 100%, 0) 0% 24.5%, 
        reasonable-color("cerulean-5") 24.5%, 
        reasonable-color("cerulean-2") 55%, 
        white 80%
      ), 
      linear-gradient(
        to bottom, 
        hsla(0, 0%, 100%, 0) 0% 75.5%, 
        reasonable-color("cinnamon-4") 75.5%, 
        white 97%
      )
  }

  .desert-title-block figure.desert-figure {
    bottom: 10px;
    width: 60%;
  }

  .desert-title-block figure.desert-figure img.desert-image {
    background-color: transparent;
  }
}

.reveal {
  figcaption {
    display: none;
  }

  p.caption {
    display: none;
  }
}

.reveal .slides section .fragment.highlight {
  opacity: unset;
  visibility: unset;

  &.visible {
    background-color: lighten(reasonable-color("cinnamon-2"), 5%);
    // color: $body-color;
    text-decoration: underline;
    text-decoration-color: reasonable-color("cinnamon-4");
  }

  &.current-fragment {
    background-color: reasonable-color("cinnamon-2");
    // color: $body-color;
    text-decoration: underline;
    text-decoration-color: reasonable-color("cinnamon-4");
  }
}
